.post-queue {
  .table-responsive {
    .table {
      thead {
        th {
          text-align: center;
        }
      }
      tbody {
        td {
          text-align: center;
          i {
            font-size: 26px;
          }
        }
      }
    }
  }
}
